@font-face {
    font-family: 'MeteoconsRegular';
    src: url('meteocons-webfont.eot');
    src: url('meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('meteocons-webfont.woff') format('woff'),
         url('meteocons-webfont.ttf') format('truetype'),
         url('meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
  font-size: 1.5em;
  display: block;
  margin-bottom: 20px;
}

#current_temp_icon {
	font-size: 3em;
}

#current_summary {
	font-size: 1.5em;
}

.content {
	text-align: center;
}

/* Background images for weather summaries */
div[data-weather="clear-day"]{
  background: url("../images/clear_day.jpg") no-repeat fixed center / cover;
}
div[data-weather="clear-night"]{
  background: url("../images/clear_night.jpg") no-repeat fixed center / cover;
  color: #eedeb8;
  text-shadow: none;
}
div[data-weather="rain"]{
  background: url("../images/rain.jpg") no-repeat fixed center / cover;
}
div[data-weather="snow"]{
  background: url("../images/snow.jpg") no-repeat fixed center / cover;
} 
div[data-weather="sleet"]{
  background: url("../images/sleet.jpg") no-repeat fixed center / cover;
}
div[data-weather="wind"]{
  background: url("../images/wind.jpg") no-repeat fixed center / cover;
}
div[data-weather="fog"]{
  background: url("../images/fog.jpg") no-repeat fixed center / cover;
} 
div[data-weather="cloudy"]{
  background: url("../images/cloudy.png") no-repeat fixed center / cover;
}
div[data-weather="partly-cloudy-day"]{
  background: url("../images/cloudy.png") no-repeat fixed center / cover;
}
div[data-weather="partly-cloudy-night"]{
  background: url("../images/cloudy_night.jpg") no-repeat fixed center / cover;
  color: #eedeb8;
  text-shadow: none;
}
